<section class="section__container blog__container" id="blog">
    <h2 class="section__header">TIN TỨC & CHIA SẺ</h2>
    <div class="blog__grid">
      <div class="blog__card">
        <img src="../../../../assets/images/blog/blog-img1.jpg" alt="blog 1" />
        <div class="blog__content">
          <h4>Kinh nghiệm thuê xe tự lái</h4>
          <p>Những lưu ý cần biết khi thuê xe tự lái cho chuyến đi thêm suôn sẻ và an toàn.</p>
          <a href="#">Đọc thêm <i class="ri-arrow-right-line"></i></a>
        </div>
      </div>
      <div class="blog__card">
        <img src="../../../../assets/images/blog/blog-img2.jpg" alt="blog 2" />
        <div class="blog__content">
          <h4>Top 5 xe sang cho chuyến du lịch</h4>
          <p>Danh sách những chiếc xe sang trọng và tiện nghi được yêu thích nhất năm nay.</p>
          <a href="#">Đọc thêm <i class="ri-arrow-right-line"></i></a>
        </div>
      </div>
      <div class="blog__card">
        <img src="../../../../assets/images/blog/blog-img3.jpg" alt="blog 3" />
        <div class="blog__content">
          <h4>So sánh Sedan và SUV</h4>
          <p>Nên chọn dòng xe nào cho hành trình của bạn? Cùng tìm hiểu sự khác biệt chi tiết.</p>
          <a href="#">Đọc thêm <i class="ri-arrow-right-line"></i></a>
        </div>
      </div>
    </div>
  </section>
  