<div class="app-topstrip bg-dark text-white p-y-10 p-x-20 w-100 d-lg-flex align-items-center justify-content-between">
    <h2 class="f-s-18 m-y-8 text-lg-left text-center">FiveReaper</h2>

    <div class="d-flex align-items-center justify-content-center flex-wrap">

        <button class="d-flex align-items-center gap-4 text-white" mat-flat-button>
            <div class="d-flex align-items-center gap-6">
                <i-tabler name="user" class="icon-20 d-flex"></i-tabler>
                Chế độ khách
            </div>
        </button>

    </div>
</div>