<section class="section__container about__container" id="about-us">
    <div class="about__image">
      <img src="../../../../assets/assets/about-us.jpg" alt="Về Chúng Tôi" />
    </div>
    <div class="about__content">
      <h2 class="section__header">VỀ CHÚNG TÔI</h2>
      <p>
        Chúng tôi là đơn vị tiên phong trong lĩnh vực cho thuê xe cao cấp tại Việt Nam, cam kết mang đến dịch vụ chuyên nghiệp,
        minh bạch và tiện lợi nhất cho khách hàng. Với đội ngũ xe đa dạng, hiện đại và luôn được bảo trì định kỳ, bạn có thể yên tâm
        tận hưởng hành trình một cách an toàn và thoải mái.
      </p>
      <p>
        Dù là chuyến công tác quan trọng hay kỳ nghỉ đáng nhớ, chúng tôi luôn sẵn sàng đồng hành cùng bạn với những lựa chọn xe đẳng cấp
        và dịch vụ hỗ trợ 24/7.
      </p>
      <div class="about__btn">
        <a href="#ride" class="btn">Khám Phá Ngay</a>
      </div>
    </div>
  </section>
  